%h1 Trucks
%script
  var trucks = [];

.row
  .large-4.columns
    %table
      %thead
        %thead
          %tr
            %th Truck Name
            %th Description
            %th Twitter
        %tbody
        - @locations.each do |location|
          %script
            ="trucks.push({title:'#{location.truck.title}',latitude:#{location.latitude}, longitude:#{location.longitude}});"
          %tr
            %td= location.truck.title
            %td= location.truck.description
            %td= location.truck.twitter
  .large-8.columns
    #map_canvas