.row
  .large-12.columns.spacer
.row
  .content_box.large-6.large-centered.small-10.small-centered.columns
    .row
      .large-12.large-centered.small-12.small-centered.columns
        %h1= @truck.title
    .row
      .large-12.large-centered.small-12.small-centered.columns
        .truck_image= image_tag(@truck.image_url)
    .row
      .large-12.large-centered.small-12.small-centered.columns
        %h3.orange= "Serves: " + @truck.description
        %h4= link_to("Go to @" + @truck.twitter, "http://twitter.com/" + @truck.twitter)
        %h5= link_to(number_to_phone(@truck.phone), "tel:#{@truck.phone}")
        - if (@auth.present? && @auth.is_truck? && (@auth.userable.title == @truck.title))
          %p= "Today's code is: #{@auth.userable.locations.last.secret_code}"
        %p= @truck.about

