%ul
  %li= @truck.title
  %li= image_tag(@truck.image_url)
  %li= @truck.description
  %li= link_to(@truck.twitter, "http://twitter.com/" + @truck.twitter)
  %li= @truck.phone

- if (@auth.present? && @auth.is_truck? && (@auth.userable.title == @truck.title))
  %p= "Today's code is: #{@auth.userable.locations.last.secret_code}"
//= link_to('Edit Truck', edit_truck_path(@truck))
