.row
  .large-12.columns.spacer
.row
  .large-4.small-10.large-centered.small-centered.columns.content_box
    / = render(:partial => 'shared/errors', :locals => {:object => @user})
    = form_for @user do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = label_tag :location
      = text_field_tag :location
      = f.submit nil, :class => 'button small success'
      = link_to 'Cancel', root_path, :class => 'button small alert'