<!DOCTYPE html>
<html>
<head>
  <title>Trucklub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/nav' %>

<div class="row">

<%= yield %>


</div>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
