<!DOCTYPE html>
<html>
<head>
  <title>LunchyPunchy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&sensor=false" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />

</head>
<body>

<%= render :partial => 'layouts/nav' %>
<%= render(:partial => 'users/card') if (@auth.present? && @auth.is_eater?)%>
<%= render(:partial => 'users/cardmax') if (@auth.present? && @auth.is_eater?) %>
<%= render(:partial => 'users/sendcode') if (@auth.present? && @auth.is_eater?) %>
<div class="row">


<%= yield %>


</div>




<script>
  $('#card').hide();
  $(document).foundation();
  function show_card(){
    $('#card').fadeToggle();
  }
  $.backstretch("https://dl.dropbox.com/u/5433755/lunchypunchy/lunchypunchy_lg.png");
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39219247-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>